/*
	jsrepo 1.28.1
	Installed from https://reactbits.dev/default/
	21-1-2025
*/

// Customize the card below as you desire

.card {
  position: absolute;
  width: 150px;
  height: 150px;
  background: url("hoverbg.png");
  background-size: cover;
  border-radius: 50%;
  transition:
    opacity 0.5s;
  will-change: transform;
  overflow: hidden;
  touch-action: none;
}


.card>div {
  will-change: transform;
  height: 100%;
  margin: 0vw 0;
}

.card>div>* {
  height: 100%;
  background-size: cover;
  background-position: center center;
  margin: 0vw 0;
}